* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #090c31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #15173c;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.screen {
    grid-column: 1 / 5;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}

.btn {
    background-color: #15173c;
    color: white;
    border: none;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #090c31;
}

#zero {
    grid-column: 1 / 3;
}

#equal {
    grid-row: span 2;
    background-color: #e6394a;
}

#equal:hover {
    background-color: #e65766;
}